body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.main {
  position: relative;
  min-height: 752px;
  width: 1024px;
  margin: 0 auto;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
